.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1184px;
    margin: 0 auto;
    margin-top: 155px;
    margin-bottom: 31px;
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__link {
    font-family: Inter;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
    margin-right: 18px;
}

.footer__copyright {
    font-family: Inter;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 11px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        width: 91%;
        margin-top: 136px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        width: 94%;
        margin-top: 9px;
        margin-bottom: 94px;
    }

    .footer__link {
        font-size: 16px;
        line-height: 27px;
        margin-right: 23px;
    }

    .footer__copyright {
        font-size: 14px;
        line-height: 20px;
    }

    .footer__copyright {
        margin: 0;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column;
        width: 92%;
        margin-top: 54px;
        margin-bottom: 0px;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer__link {
        font-size: 24px;
        line-height: 40px;
        /* margin-right: 23px; */
        margin-top: 9px;
        text-decoration: none;
    }

    .footer__copyright {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        margin-top: 58px;
    }
}

@media screen and (max-width: 374px) {
    .footer {
        display: flex;
        flex-direction: column;
        width: 92%;
        margin-top: 54px;
        margin-bottom: 0px;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer__link {
        font-size: 24px;
        line-height: 40px;
        /* margin-right: 23px; */
        margin-top: 9px;
        text-decoration: none;
    }

    .footer__copyright {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        margin-top: 58px;
    }
}